* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}


/*背景动画*/
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(to bottom right, #4a90c3 0%, #54baf0 100%);
  background: linear-gradient(to bottom right, #4a90c3 0%, #57c5fd 100%);
  opacity: 0.8;
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 820px;
  margin-top: -300px;
  overflow: hidden;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: 'Segoe Script', 'Segoe Print';
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  border-radius: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  bottom: -138px;
  -webkit-animation: square 30s infinite;
  animation: square 30s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 1%;
  width: 53px;
  height: 53px;
  line-height: 53px;
  color: rgba(0, 179, 238, 0.5);
}

.bg-bubbles li:nth-child(2) {
  left: 10%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  color: rgba(130, 238, 130, 0.5);
}

.bg-bubbles li:nth-child(3) {
  width: 85px;
  height: 85px;
  line-height: 85px;
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 3s;
  color: rgba(238, 49, 175, 0.2);
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
  background-color: rgba(255, 255, 255, 0.25);
  color: rgba(0, 179, 238, 0.5);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
  width: 46px;
  height: 46px;
  padding-top: 5px;
  color: rgba(238, 193, 234, 0.2);
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(238, 227, 77, 0.4);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 140px;
  height: 140px;
  line-height: 140px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  color: rgba(54, 32, 238, 0.2);
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 25s;
  color: rgba(20, 238, 81, 0.4);
}

.bg-bubbles li:nth-child(9) {
  left: 18%;
  width: 38px;
  height: 38px;
  line-height: 38px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 54, 179, 0.2);
}

.bg-bubbles li:nth-child(10) {
  left: 83%;
  width: 130px;
  height: 130px;
  line-height: 130px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  color: rgba(109, 153, 238, 0.4);
}


@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-750px) rotate(600deg);
    transform: translateY(-750px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-980px) rotate(980deg);
    transform: translateY(-980px) rotate(980deg);
  }
}

/*表单部分*/
#panel {
  position: relative;
  top:95px;
  z-index: 20;
  width: 320px;
  height: 360px;
  margin: 75px auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-size:40px;
}
#form{
  text-align: center;
}
#form, .form-group {
  position: relative;
}

.form-group {
  height: 60px;
}
input.form-control{
  background: rgba(255, 255, 255, 0.14);
  border: 1px rgba(255, 255, 255, 0.29) solid;
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  -webkit-transition:background,width, 0.3s;
  transition:background,width,0.3s ;
}
input.form-control:focus{
  color: #23a099;
  background: #fff;
  width: 320px;
  height: 45px;
  font-weight: bolder;
  border: 1px rgba(255, 255, 255, 0.29) solid;
}

/*label {*/
  /*width: 70px;*/
  /*color: rgb(0, 0, 0);*/
  /*font-weight: normal;*/
  /*text-align: right;*/
/*}*/


/*验证码 表单样式*/
#inputTxt {
  text-align: center;
  vertical-align: middle;
  width: 210px;
  height: 45px;
  padding-top: -2px;
}

#code {
  text-align: center;
  letter-spacing:3px;
  vertical-align: middle;
  display: inline-block;
  width: 84px;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  border-radius: 3px;
  /*用户不可选择文本*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*备用 :'看不清换一张'*/
#getAgain {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*background: rgba(255, 255, 255, 0.14);*/
  /*border: 1px rgba(255, 255, 255, 0.29) solid;*/
  /*width: 112px;*/
  /*height: 44px;*/
  /*font-size: 15px;*/
  /*color: rgba(255, 255, 255, 0.91);*/
  /*cursor: pointer;*/
  /*border-radius: 3px;*/
  /*line-height: 40px;*/
  /*!*用户不可选择文本*!*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}
#getAgain:hover {
  /*color: #0a605a;*/
  /*font-weight: bold;*/
}


.getAgain:hover{
  cursor: pointer;
}
/*验证码错误提示*/
.ts {
  width: 300px;
  text-align: left;
  color: #b3140d;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 6px;
  margin-left: 10px;
  display: none;
}
/*注册登录按钮*/
#btn1,#btn2{
  width: 300px;
  height: 45px;
  font-size: 18px;
  color: #09a082;
  background: rgb(255, 255, 255);
  border: 1px rgba(255, 255, 255, 0.29) solid;
  transition: width,height,0.3s;

}
#btn1:hover,#btn2:hover{
  width: 330px;
  height: 48px;
  font-size: 20px;

}
#btn1{
  margin-top: 0px;
  margin-bottom: 30px;
}
/*错误提示  默认隐藏*/
.hidden {
  display: none;
}
/*错误提示:input 验证格式*/
.msg-default {
  width: 300px;
  color: #b3140d;
  font-weight: bold;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 4px;
  display: inline-block;
}


/*错误提示:密码账号错误 弹出模态框*/
@media screen and (max-width:360px){
  .modal-error {
    height: 200px;
    width: 250px;
  }
  .close-tishi {
    font-size: 16px;
  }
  .close-error {
    font-size: 14px;

  }
}
#errorMsg {
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.modal-content {
  height: 1200px;
  width: 100%;
}

.medal-header {
  padding: 20px;
  padding-bottom: 10px;
}

.modal-body {
  margin-top: 120px;
  width: 100%;
  height: 100%;
  color: rgba(0, 1, 1, 0.71);
  /*用户不可选择文本*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.modal-error {
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  height: 300px;
  width: 500px;
  background: #fff;
}

.close-tishi {
  font-weight: bold;
  display: block;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

.close-error {
  display: block;
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}


/*对于输入过的号码表单背景自动变为黄色--->改变方法*/
/*通过延长增加自动填充背景色的方式, 是用户感受不到样式的变化*/


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:visited{
  -webkit-transition-delay: 9999999s;
  -webkit-transition: color 9999999s ease-out, background-color 9999999s ease-out;
}

/*[placeholder]{font-weight: bold;}*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  opacity: 1;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;

}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff !important;
  opacity: 1;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;

}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff !important;
  opacity: 1;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;

}

::-webkit-input-placeholder { /* WebKit browsers chrome,safari*/
  color: rgb(255, 255, 255) !important;
  opacity: 1;
  text-align: left;
  letter-spacing: 1px;

}



